/* Header */

body {
  background-color: DarkSalmon;
  text-align: center;
}

.title {
  margin-top: 0%;
}

/* Main */

.sketchBoard {
  display: inline-grid;
  width: 500px;
  height: 500px;
  border: 8px solid;
  border-radius: 3px;
  padding: 3px;
  background-color: gainsboro;
}

.sketchBoard:hover {
  cursor: pointer;
}

.pixel {
  user-select: none;
  border-radius: 2px;
}

/* Footer */
